.todoWrapper{
  min-width:40rem;
  border: 2px solid black;
  display: flex;
  flex-grow:1;
  //flex: 1;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  color: white;
  padding: 1rem;
  
  .todo__dueDate{
	margin: 1rem 0;
  }
  
  .todo__btn{
	padding: .25rem;
	background: red;
	color: white;
	border: none;
	cursor: pointer;
  }
}


.addTodoWrapper{
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  width: 40rem;
  color: white;
  
}
