.newsLetter {
  max-width: 46rem;
  display: flex;
  background: var(--white);
  padding: 1rem;
  border-radius:1rem;
}



@media (max-width: 600px){
 .newsLetter{
   display: flex;
   flex-direction: column-reverse;
   padding: 0;
   .newsLetter__img{
     margin-top: -.5rem;
   }
 }
 
}
